.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  font: {
    size: 21px;
    weight: bold;
  }

  & + .skillsContainer {
    margin: {
      top: 20px;
    }
  }
}

.skill {
  & ~ & {
    margin: {
      top: 5px;
    }
  }
}
