.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fullName,
.position {
  font: {
    weight: bold;
    size: 30px;
  }
}

.fullName + .position,
.position + .linksPanel {
  margin: {
    top: 20px;
  }
}
